<button class="btn btn-primary"
[style.backgroundColor]="this.active? 'blue':'red'"
[style.color]="this.active? 'white':'black'"
[style.fontWeight]="this.active? 'bold':'normal'"
[style.fontSize]="this.active? '24px':'34px'"

(click)="changeAttributes()"
>Change Atribute</button>


<button class="btn btn-primary"

[ngStyle]="{
    'backgroundColor': this.active? 'blue':'red',
    'color':this.active? 'white':'black',
    'fontWeight':this.active? 'bold':'normal',
    'fontSize':this.active? '24px':'34px'
}"
(click)="changeAttributes()"
>Change Atribute</button>